<h2 class="title">Address Book</h2>

<address-book-contacts class="base-component base-component__pad-bottom">
</address-book-contacts>

<address-book-new-entry class="base-component"></address-book-new-entry>

<script src="/javascripts/address_book/index.js"></script>
